*{
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: ;
}
.container{
    display: grid;
    gap: 20px;
    width: 95%;
    margin: auto;
   
}
div{
    border-radius: 25px;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    height: 90px;
    gap: 3px;
}
.logo{
    margin: auto;
}
.img-logo{
    height: 90px;
    border-radius: 50%;
}
.link-playlist{
    font-size: 30px;
    text-decoration: none;
    margin-top: 30px;
}
.link-playlist a{
    color: #00e8dc; 
    font-family: 'Biryani', sans-serif;
}
.barra{
    margin-top: 36px;
}
.search{
    width: 80%;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.514);
    border: none;   
    height: 30px;
    font-size: 16px;
    color: white;
   }
.main{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 1000px;
    gap: 10px;
}
.charts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.titulo-charts{
    background-color: #00e8dc;
    height: 50px;
    margin-left: 10px;
}
.titulo-charts p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.item-charts{
    background-color: gray;
    height: 30px;
}
.top{
    display: grid;
    gap: 6px;
}
.generos{
    background-color: darkred;
}

.carrousel{

    display: grid;
    background-color: blue;
}

.foto-carousel{
width: 600px;
width: 100%;
box-sizing: content-box;
    
}