*{
    box-sizing: border-box;
}
body{
    background-image: url(../Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
.container{
    display: grid;
    gap: 20px;
    width: 95%;
    margin: auto;
   
}
div{
    border-radius: 25px;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    height: 90px;
    gap: 3px;
}
.logo{
    margin: auto;
}
.img-logo{
    height: 90px;
    border-radius: 50%;
}
.link-playlist{
    font-size: 30px;
    text-decoration: none;
    margin-top: 30px;
}
.link-playlist a{
    color: #00e8dc; 
    font-family: 'Biryani', sans-serif;
}
.barra{
    margin-top: 36px;
}
.search{
    width: 80%;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.514);
    border: none;   
    height: 30px;
    font-size: 16px;
    color: white;
   }
.main{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 1000px;
    gap: 10px;
}
.charts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.titulo-charts{
    background-color: #00e8dc;
    height: 50px;
    margin-left: 10px;
}
.titulo-charts p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.item-charts{
    background-color: gray;
    height: 30px;
}
.top{
    display: grid;
    gap: 6px;
}
.generos{
    background-color: darkred;
}


.foto-carousel{
width: 100%;
height: 400px !important;

}



.playlist-container{
    display: grid;
    grid-template-columns: 40% 60%
}

.lista-de-reproducion{

display: grid;
width: 100%;
grid-template-rows: 150px 150px 150px 150px 150px;
gap: 10px;

}

.cancion{
display: grid;
background-color: black ;
color: #00e8dc;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    border: solid 5px #00e8dc ;
}

.foto-cancion{

    margin: 10px;
    background-image: url(../Imagenes/regeton.jpg);
    background-size: cover;
    background-position: center;
   
}

.texto-cancion{

    margin: 10px;
}

.datos-cancion{

    text-align: right;
}


.titulo-cancion{
text-align: center;
font-size: 20px;

}


.datos-cancion1{

    text-align: left;
}